### Pre-requisites

In [1]:
import warnings
warnings.filterwarnings(action='ignore')

### Import necessary libraries

In [2]:
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns
import torch
import torch.nn as nn
import torch.optim as optim
from torch.utils.data import Dataset, DataLoader
import pandas as pd
from sklearn.model_selection import train_test_split
from sklearn.preprocessing import LabelEncoder

### Load the data

In [ ]:
df = pd.read_csv('../merged_moviecine_tmdb.csv')
df.sample(5)

,user_id,movie_id,rating,timestamp,title,release_date,genre_names,original_language_full
2180457,41466,4494,3.0,995060042,Rapture,1980-06-09,"['Drama', 'Fantasy', 'Horror']",Spanish
3949089,75255,858,5.0,1433827358,Sleepless in Seattle,1993-06-24,"['Comedy', 'Drama', 'Romance']",English
6859182,130873,4148,2.0,992186425,Revolutionary Road,2008-12-19,"['Drama', 'Romance']",English
2623125,49929,293,4.0,1273343444,A River Runs Through It,1992-10-09,"['Drama', 'Family']",English
1182168,22677,1213,4.0,1132685118,The Talented Mr. Ripley,1999-12-25,"['Thriller', 'Crime', 'Drama']",English

In [6]:
df.isna().sum()

user_id                   0
movie_id                  0
rating                    0
timestamp                 0
title                     0
release_date              0
genre_names               0
original_language_full    0
user                      0
movie                     0
dtype: int64

In [7]:
df.duplicated().sum()

np.int64(0)

In [9]:
df.isnull().sum()

user_id                   0
movie_id                  0
rating                    0
timestamp                 0
title                     0
release_date              0
genre_names               0
original_language_full    0
user                      0
movie                     0
dtype: int64

In [10]:
df.iloc[0].genre_names

"['Horror', 'Thriller', 'Mystery']"

In [12]:
df.head()

,user_id,movie_id,rating,timestamp,title,release_date,genre_names,original_language_full,user,movie
0,1,17,4.0,944249077,The Dark,2005-09-28,"['Horror', 'Thriller', 'Mystery']",English,0,9
1,1,25,1.0,944250228,Jarhead,2005-11-04,"['Drama', 'War']",English,0,14
2,1,80,5.0,944248943,Before Sunset,2004-06-16,"['Drama', 'Romance']",English,0,39
3,1,110,3.0,943231119,Three Colors: Red,1994-05-12,"['Drama', 'Mystery', 'Romance']",French,0,64
4,1,111,5.0,944249008,Scarface,1983-12-09,"['Action', 'Crime', 'Drama']",English,0,65